
.panel{

  width: 700px;
  height:600px;
  margin-left: 470px; 
  background: rgba(10,74,133,1);
background: -moz-linear-gradient(left, rgba(10,74,133,1) 0%, rgba(10,74,133,0.9) 23%, rgba(30,120,222,0.58) 94%, rgba(32,124,229,0.58) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,74,133,1)), color-stop(23%, rgba(10,74,133,0.9)), color-stop(94%, rgba(30,120,222,0.58)), color-stop(100%, rgba(32,124,229,0.58)));
background: -webkit-linear-gradient(left, rgba(10,74,133,1) 0%, rgba(10,74,133,0.9) 23%, rgba(30,120,222,0.58) 94%, rgba(32,124,229,0.58) 100%);
background: -o-linear-gradient(left, rgba(10,74,133,1) 0%, rgba(10,74,133,0.9) 23%, rgba(30,120,222,0.58) 94%, rgba(32,124,229,0.58) 100%);
background: -ms-linear-gradient(left, rgba(10,74,133,1) 0%, rgba(10,74,133,0.9) 23%, rgba(30,120,222,0.58) 94%, rgba(32,124,229,0.58) 100%);
background: linear-gradient(to right, rgba(10,74,133,1) 0%, rgba(10,74,133,0.9) 23%, rgba(30,120,222,0.58) 94%, rgba(32,124,229,0.58) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4a85', endColorstr='#207ce5', GradientType=1 );
  border-radius: 10px;
margin-top: 10px;
border-style: ridge;
  }
  .hedpan{

    
    width:695px;
    height:50px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
   
  
    }
    .centhe{
position: absolute;
      width: 200px;
      height: 50px;
     
      margin-left: 300px;
    }
  .panelboton{
    border-style:ridge;
    width: 88px;
    height:600px;
    margin-left: 1185px; 
   background-color: white;
    border-radius: 10px;
    margin-top: -600px;
    }
    
.divtab{


width: 440px;
height: auto;
background-color: white;
float: left;
position: relative;
margin-left: 20px;
margin-right: 20px;
margin-top:10px;
border-radius: 10px;


}

.divtab2{

  width: 290px;

  height:460px;
  margin-right: 150px;
  margin-left:30px;
  float: right;
  position: absolute;
  margin-top: 70px;
 

  }
  .divtab3{

    width: 290px;

  height:460px;
   display:none;
    }
    
    .divtab4{

      width: 290px;
    
      height:460px;
      margin-right: 200px;
      margin-left: 370px;
      float: right;
      position: absolute;
      margin-top: 70px;
      
    
      }

  .tarj{

    width: 290px;

    height:460px;
    border-radius: 20px;
   margin: 0 auto;
  
   

    }
    .tarj2{

      width: 290px;
  
      height:460px;
      border-radius: 20px;
     margin: 0 auto;
    
     
  
      }

.App-form {

  width: 95%;

  height: 620px;

  margin-left: 30px;

  border-radius:10px;

  background-color:#CCCCCC;

  margin-top: 10px;
 
  margin-right: 5px;
  position: absolute;

 

}

 



  
          /*tarjeta emp1 */

  .emp1seg {

    margin: 0 auto;

    background-image: url("img/emp1.jpg");

    background-size: cover;

    border: 1px solid #eee;

    font-size: 16px;

    line-height: 24px;

    font-family: 'Helvetica Neue', 'Helvetica';

    color: #555;

    width: 290px;

    height:460px;

    border-radius: 20px;
  
    position: absolute;

    display: block;
  }
  .emp1seg2 {
           
    background-image: url("img/post.png");

    background-size: cover;

    margin: 0 auto;
    
    border: 1px solid #eee;

    font-size: 16px;

    line-height: 24px;

    font-family: 'Arial';

    color: #555;

    width: 290px;

    height:460px;
                
    border-radius: 20px;
    
    position: absolute;
    
  }

  .emp1seglogo1{

                 
    background-image: url("img/drag.jpg"); 
    
    width: 207px;
    height: 140px;
    margin-left: 40px;
    background-size: cover;
    
    margin-top: 300px;
                 
  }


  .emp1segfoto{

    width: 170px;

    height: 166px;

    margin-top: -445px;

    margin-left: 60px;

    background-color: #0A0909;

    background-image: url("img/segblanfoto.png");

    background-size: cover;
    

    }

      .emp1segfoto img{

        margin-left: 2px;
        margin-top: 2px;
        width: 98%;

        height: 98%;

      }

      .emp1segtexto{

        width: 260px;

        height: 50px;

        margin-top: 2px;

        margin-left:10px ;

       color: black;

        text-align: center;

        font-family: Arial;

        font-weight: bold;

        font-size: 17px;

        text-transform: capitalize;

        word-break: medium;
                            
        word-wrap: break-word;


        }

        .emp1segtexto_area{

          width: 265px;

          height: 43px;

          margin-top: 8px;

          margin-left:10px;

          color: black;

          text-align: center;

          font-family: Arial;

          font-weight: bold;

          font-size: 13px;

          word-break: medium;
          
          word-wrap: break-word;
          
          text-transform: capitalize;

        }
        
  .emp1seglogo1{

                 
    background-image: url("img/emp1logo.png"); 
    
    width: 207px;
    height: 180px;
    margin-left: 40px;
    background-size: cover;
    
    margin-top: 275px;
                 
  }


          /*fin emp1*/

          /*emp3*/

          .emp3 {
             
           

            background-image: url("img/emp3.jpg");

            background-size: cover;

            border: 1px solid #eee;

            font-size: 16px;

            line-height: 24px;

            font-family: 'Helvetica Neue', 'Helvetica';

            color: #555;

            width: 290px;

            height:460px;
        
            border-radius: 20px;
          
            position: absolute;

            display: block;
        
            }

            .emp32 {

             
             
                
                    background-image: url("img/post.png");
                
                    background-size: cover;
                
                    border: 1px solid #eee;
                
                    font-size: 16px;
                
                    line-height: 24px;
                
                    font-family: 'Arial';
                
                    color: #555;
                
                    width: 290px;

                    height:460px;
                                
                    border-radius: 20px;
                    
                    
                
                    position: absolute;
                    
                   
            
            
            }

            .emp3foto{

              
              
              width: 200px;

              height: 200px;

              margin-top: -450px;

              margin-left: 45px;

              left: 26%;

              background-color: #0A0909;

              background-image: url("img/cuagrace.png");
              background-size: cover;
                

              }

              .emp3foto img{

                width: 97%;

                height: 97%;
                margin-top: 3px;
                margin-left: 3px;

              }
              .emp3logo1{

                 
                background-image: url("img/xx.png"); 
                
                width: 207px;
                height: 180px;
                margin-left: -10px;
                background-size: cover;
                
                margin-top: 300px;
              }

              .emp3texto{

                width: 270px;

                

                height: 90px;                

                margin-top: 15px;

                margin-left: 10px;

                font-size: x-large;

                color: white;

                text-align: center;

                font-family: Arial;

                margin-bottom: 10px;

                text-transform: capitalize;

                word-break: medium;
                    
                word-wrap: break-word;
        

              }

                .emp3texto_area{

                  width: 260px;

                  height: 40px;

                  margin-top: -45px;

                  margin-left: 15px;

                  color: white;

                  text-align: center;

                  font-family: Arial;

                  margin-bottom: 10px;

                  font-weight:bold;

                  word-break: medium;
                    
                  word-wrap: break-word;
        
                  text-transform: capitalize;

                  }

                  /*fin emp3*/

                  /*emp2*/

                  .emp2 {      

                   
                   

                    background-image: url("img/emp2.jpg");

                    background-size: cover;
 
                    border: 1px solid #eee;

                    font-size: 16px;

                    line-height: 24px;

                    font-family: 'Helvetica Neue', 'Helvetica';

                    color: #555;

                    width: 290px;

                    height:460px;
                
                    border-radius: 20px;
                  
                    position: absolute;

                    display: block;
                   }
                   .emp22 {

                    
                   

                   
                
                    background-image: url("img/post.png");
                
                    background-size: cover;
                
                    border: 1px solid #eee;
                
                    font-size: 16px;
                
                    line-height: 24px;
                
                    font-family: 'Arial';
                
                    color: #555;
                
                    width: 290px;

                    height:460px;
                    border-radius: 20px;
                    
                 
                
                    position: absolute;
                    
                   
                  
                  }

                 
                
            .emp2foto{

              width: 213px;

              height: 213px;

              margin-top: -440px;

              margin-left: 36px;
              background-size: cover;
              left: 26%;

              background-image: url("img/nitmarco.png"); 

              background-color: #0A0909;
              display: "flex";
              }

              .emp2foto img{

                width: 97%;

                margin-top: 3px;

                margin-left: 3px;

                height: 97%;

              }
              .emp2logo1{

                 
                background-image: url("img/drag.png"); 
                
                width: 207px;
                height: 180px;
                margin-left: -10px;
                background-size: cover;
                
                margin-top: 276px;
                             
              }

              .emp2texto{

                width: 260px;

                height: 50px;                

                margin-top: 10px;

                margin-left: 15px;

                font-size: 1em;

                color: white;

                word-break: medium;
                    
                word-wrap: break-word;
                        
                text-align: center;

                font-family: Arial;

                font-weight: bold;

                 font-size: 17px;

                margin-bottom: 10px;

                text-transform: capitalize;

                

               
    

                }

                .emp2texto_area{

                  width: 277px;

                  height: 70px;

                  margin-top: 20px;

                  margin-left: 6px;

                  color: white;

                  font-family: Arial;

                  font-weight: bold;
        
                  font-size: 13px;

                  text-align: center;

                  margin-bottom: 10px;
                 
                  word-break: medium;
                    
                  word-wrap: break-word;
                 
                  text-transform: capitalize;

                  }

                  /*emp2*/

                 

                  .btn_imp{

                    width: 100px;
                    height: 30px;
                     margin-top: -200px;
                     margin-left: 3px;
                  
                   

                  }
                  .btn_imp2{

                    width: 100px;
                    height: 30px;
                   margin-top: 60px;
                   margin-left: 3px;
                  
                   

                  }
                  .btn_imp4{

                    width: 100px;
                    height: 30px;
                   margin-top: 140px;
                   margin-left: 3px;
                  
                   

                  }
                  .btn_imp3{

                    width: 100px;
                  height: 30px;
                  margin-top: 290px;
                   background-image: url("/src/img/IMP.jpg");
                   margin-left: 3px;
                  
                   

                  }

                  .header{

                    width: 1350px;
                    height: 100px;
                    background-color: #FFF;
                    text-align:center;
                    margin-bottom: 10px;
                    position: fixed;
                    scroll-margin-left: 5px;
                    align-content: center;
                    border-radius: 14px;

                  }

                  .header img{

                    width: 140px;
                    height: 80px;
                    margin-top: 0px;
                    margin-right: 20px;
                    float: left;
                    margin-left: 40px;
                    align-content: center;
                    border-radius: 20px;
                    

                  }

                  
                  

       @media print{
        
        .emp1seg2{ align-items: center;  width: 290px; height:461px; border-radius: 20px; transform: perspective(600px) rotateY(0deg);}
        .emp22 { align-items: center;  width: 290px; height:461px; border-radius: 20px; transform: perspective(600px) rotateY(0deg); }
        .emp32 {   align-items: center;  width: 290px; height:461px; border-radius: 20px; transform: perspective(600px) rotateY(0deg);}
        

      
       }
       
       @media print{

        
        .emp1 {  border-radius: 20px;   }
       
        .emp2 {   border-radius: 20px;  }
      
        .emp3 {   border-radius: 20px; }
        
       
        
    
         
              .divtab3{

                position:absolute;  width:100%; height:100%;
                border-radius: 20px;
                background-size:cover;
              display: block;
               
                }

                .divtab3 img{

                  margin-left: 2px;
                 
                  width: 100%;
          
                  height: 100%;

                  margin: 0;
                  margin: 0 auto;
                 
                }
                

       }
       